/*imp! CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

/*imp! BODY AND MAIN CONTAINER CSS */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #e5e5e5;
}

.main-container{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 2rem;
}

/*imp! HEADER SECTION */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    cursor: pointer;
}

header img:nth-child(1){
    width: 75px;
    height: 75px;
}

header img:nth-child(2){
    width: 50px;
    height: 50px;
}

/*imp! DIVIDER LINE */

.divider-line{
    width: 100%;
    height: 1px;
    background-color: #3e3e3e37;
    margin: 2rem 0;
}

/*imp! POST SECTION */

.user-details-div{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.user-details-div img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.user-description{
    margin-left: 1rem;
}

.user-description h3{
    font-size: 1.8rem;
    font-weight: 700;
}

.user-description p{
    font-size: 1.4rem;
}

.post-section .post-img{
    width: 100%;
    margin-bottom: 2rem;
}

.interaction-div{
    margin-bottom: 1rem;
}

.interaction-div img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    margin-right: 2rem;
}

.likes{
    font-size: 2rem;
}

.comments{
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.comments span{
    font-weight: bold;
}